<div class="center jumbotron">
  <h1>Welcome to Mom Recipes!</h1>

  <h2>You will find here all the treasured family recipes passed down through generations.</h2>
  <%= link_to "SIGN UP TO JOIN THE COMMUNITY!", register_path, class: "btn btn-lg button-profile" %>
</div>
<div class="row">
    <div class="col-lg-6">
      <div class="well">
        <h3 class="text-center">
          Log in
        </h3>
        <h2 class="text-center">Create, edit and like recipes!</h2>
        <p style="text-align: center"><%= link_to "Log in to your account", login_path, class: "btn button-color-variation btn-lg" %></p>
      </div>
    </div>


  <div class="col-lg-6">
    <div class="well">
      <h3 class="text-center">
        Browse Recipes
      </h3>

      <h2 class="text-center">View recipes as a guest.</h2>

      <p style="text-align: center"><%= link_to "Browse Recipe Listings", recipes_path, class: "btn button-color-variation btn-lg" %></p>
    </div>
  </div>

</div>

